body {
    background-color: #000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color:#fff;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    color:#fff;
    font-weight: 300;
    font-size: 42px;  
}

a {
    color: aquamarine;
    font-size: 16px;
}

img{
    display:block;
    margin-left:27em;
    margin-top: 35px;
}


p {
    font-size: 21px;
    color: gray;
}

footer{
    text-align: right;
}

#phone {
    margin-left:55em;
}